* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background: radial-gradient(circle, #fff 20%, #ccc);
  background-size: cover;
}

header, footer {
  font-family: 'Share Tech Mono', 'Lucida Console', monaco, monospace;
  text-align: center;
  padding: 20px 0;
}

header h1 {
  font-size: 20px;
}

header p, footer p {
  font-size: 12px;
}

input {
  font-family: 'Share Tech Mono', 'Lucida Console', monaco, monospace;
  height: 40px;
  width: 280px;
  padding: 0 10px;
  background: DarkGray;
  border-radius: 5px;
  font-weight: bold;
  font-size: 18px;
  line-height: 40px;
  color: Maroon ;
  text-align: right;
  letter-spacing: 1px;
}

.teclado, .arriba {
  overflow: hidden;
}
.arriba {
  margin-bottom: 10px;
}

#calculadora {
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 14px;
  width: 325px;
  height: auto;
  margin: 0 auto 0 auto;
  padding: 20px 20px 20px 20px;
  background: LightBlue;
  border-radius: 3px;
  box-shadow: 2px 2px Gray;
}

button {
  cursor: pointer;
  width: 66px;
  height: 40px;
  border-radius: 5px;
  margin: 0 5px 10px 0;
  text-align: center;
  font-weight: bold;
  font-size: 15px;
  -webkit-user-select: none;  /* Chrome y Safari */
  -moz-user-select: none;     /* Firefox  */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;          /* Futuro próximo... */       
}

input:active,
input:focus,
button:active,
button:focus {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.numero {
  font-family: 'Share Tech Mono', 'Lucida Console', monaco, monospace;
  font-weight: bold;
  background-color: White;
}

#coma, #punto {
  font-size: 1.5em;
}

.op_binario, .op_unitario{
  font-family: Cambria, Georgia, serif;  
  background-color: LightSkyBlue;
  color: Black;
  font-size: 15px;
}

.op_varios {
  background-color: LightYellow;
  font-family: Cambria, Georgia, serif;  
  font-size: 15px;
}

#coma {
  background-color: LightYellow;
}

.op_memoria {
  background-color: LightCyan;
}

.op_unitario span {
  text-decoration: overline;
}

.calcular {
  background: MediumSeaGreen;
  color: Black;
  font-size: 1.4em;
}

.borrar {
  background: Maroon;
  color: white;
}

.acumulador, .memoria {
  font-family: 'Share Tech Mono', 'Lucida Console', monaco, monospace;
  font-weight: bold;
  font-size: 14px;
  text-align: right;
  letter-spacing: 1px;  
}

.acumulador {
  height: 20px;
  line-height: 20px;
  margin-right: 5px;
  float: right;
  color: Gray;
}

.memoria {
  height: 20px;
  line-height: 20px;
  color: Gray;
}

.row {
  display: flex;
}

